html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide > button {
  margin: 0px 100px;
  margin-bottom: 20px;
  padding: 10px 50px;
  background-color: rgba(0, 0, 0, 0.621);
  border: 0;
  color: white;
  font-weight: bolder;
}
#deal {
  text-align: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: #6b6b6b;
  display: flex;
  justify-content: space-around;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 85%;
  height: 200px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
/* carousel code^^^^^ */
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  font-size: medium;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  /* border: 1px solid red; */
  text-align: center;
  margin: auto;
  width: 85%;
}
.main img,
.main div {
  /* border: 1px solid green; */
  width: 100%;
  margin: auto;
}
.div-img {
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  margin: auto;
  width: 85%;
}
.div-img img {
  /* border: 1px solid green; */
  width: 100%;
  margin: auto;
}