#footer{
    /* border: 1px solid; */
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}
.email{
    height: 30px;
    margin: 0px;
}
#submitemail{
    height: 35px;
    border-radius: 0px;
    border: 0px;
    background-color: rgb(58, 57, 57);
    color: white;
    margin-left: -5px;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}
#footer1{
    /* border: 1px solid; */
    display: flex;
}
#footer1>div:nth-child(1){
    width: 35%;
    /* border: 1px solid; */
}
#footer>div>:nth-child(2){
    width: 65%;
    /* border: 1px solid; */
}
#contact>form>p:nth-child(1){
    color: rgb(36, 36, 36);
    font-size: 90%;
    line-height: 0em;
    margin-top: 7%;
}
#contact>form>p:nth-child(3){
    color: rgb(36, 36, 36);
    font-size: 90%;
    line-height: 0em;
    margin-top: 7%;
}
#links{
    display: flex;
    justify-content: space-evenly;
}
#links>div>p{
    font-size: 80%;
    color: rgb(80, 79, 79);
}
#links>div>h4{
    font-weight: 100;
}
#links>div>p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#footer2{
    margin-top: 5%;
    display: flex;
}
#footer2>div:nth-child(1){
    width: 20%;
    /* border: 1px solid; */
    /* background-color: red; */
}
#footer2>div:nth-child(2){
    width: 100%;
    /* border: 1px solid; */
    text-align: right;
    
}
#medialinks{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20%;
}
#medialinks>img{
    cursor: pointer;
}
#footer2>div:nth-child(2)>img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-bottom: 10%;
}
#footer2>div:nth-child(2)>a{
    cursor: pointer;
    color: gray;
    font-size: 90%;
}
#footer2>div:nth-child(2)>a:hover{
    text-decoration: underline;
    color: black;
}
#info{
    display: inline;
    font-weight: 700;
    background-color: grey;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 50%;
}
#infomessage{
    position: absolute;
    /* border: 1px solid; */
    /* height: 50px; */
    width: 20%;
    margin-left: auto;
    background-color: white;
    margin-left: 13%;
    margin-top: -6%;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
}
#letushelp{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    visibility: hidden;
}
#letushelp>div:nth-child(2){
    width: 5%;
}

@media all and (max-width: 700px) and (min-width: 400px){
    #footer1{
        display: block;
    }
    #footer1>div:nth-child(1){
        width: 100%;
        /* border: 1px solid; */
    }
    #footer1>div:nth-child(2){
        width: 100%;
        /* border: 1px solid; */
    }
    #footer1 input{
        width: 70%;
    }
}

/* @media all and (max-width: 399px) and (min-width: 0px){
    #footer1>div:nth-child(2){
        visibility: hidden;
        display: block;
    }
    #letushelp{
        visibility: visible;
    }
} */